.financialHelpSection{
    min-height: 60vh;
}

.financialHelp{
    width: 50vw;
    text-align: center;
}

.financialHelp p{
    margin: 2rem 0;
    color: #808080;
    width: 75%;
}
.checkMarks{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
}

.checkMark{
    display: flex;
    align-items: center;
}

.checkMark img{
    width: 4rem;
    margin-right: 1.5rem;
}

.checkMark h4{
    font-size: 1rem;
}